# Dados não pareados

In [1]:
import pandas as pd
import scipy.stats as sts


npaired = pd.read_csv('ex2-nonpaired.csv')
npaired

     bp type
0    68   No
1    70  Yes
2    82   No
3    76   No
4    60   No
..   ..  ...
195  58   No
196  68  Yes
197  70   No
198  58   No
199  62  Yes

[200 rows x 2 columns]

In [2]:
diabetica = npaired.query('type == "Yes"')
diabetica

      bp type
1     70  Yes
5     76  Yes
9     78  Yes
10    40  Yes
12    60  Yes
..   ...  ...
187   62  Yes
189  102  Yes
192   48  Yes
196   68  Yes
199   62  Yes

[68 rows x 2 columns]

In [3]:
nDiabetica = npaired.query('type == "No"')
nDiabetica

     bp type
0    68   No
2    82   No
3    76   No
4    60   No
6    58   No
..   ..  ...
193  68   No
194  74   No
195  58   No
197  70   No
198  58   No

[132 rows x 2 columns]

In [4]:
# teste t
stat, p = sts.ttest_ind(diabetica['bp'].values, nDiabetica['bp'].values)
p

0.0030323591864622732

In [5]:
# Wilcoxon rank sum
stat, p = sts.mannwhitneyu(diabetica['bp'].values, nDiabetica['bp'].values)
p

0.0022943751600507183

In [6]:
# qual tem a maior pressão média? diabéticos 
dmean = diabetica['bp'].mean()
ndmean = nDiabetica['bp'].mean()
(dmean, ndmean)

(74.58823529411765, 69.54545454545455)

In [7]:
#  maior pressão mediana? diabéticos 
dmedian = diabetica['bp'].median()
ndmedian = nDiabetica['bp'].median()
(dmedian, ndmedian)

(76.0, 70.0)

A diferença é estatisticamente significativa? Sim

# Dados pareados

In [8]:
paired = pd.read_csv('ex2-paired.csv')
paired

             Clone  August  November
0     Balsam_Spire     8.1      11.2
1          Beaupre    10.0      16.3
2        Hazendans    16.5      15.3
3        Hoogvorst    13.6      15.6
4         Raspalje     9.5      10.5
5             Unal     8.3      15.5
6   Columbia_River    18.3      12.7
7    Fritzi_Pauley    13.3      11.1
8        Trichobel     7.9      19.9
9            Gaver     8.1      20.4
10          Gibecq     8.9      14.2
11           Primo    12.6      12.7
12       Wolterson    13.4      36.8

In [10]:
# test t pareado
stat, p = sts.ttest_rel(paired['August'].values, paired['November'].values)
p

0.03955525086687241

In [12]:
# Wilcoxon signed rank.
stat, p = sts.wilcoxon(paired['August'].values, paired['November'].values)
p

0.039794921875

In [13]:
# Qual o mes com maior média? Novembro
amean = paired['August'].mean()
ndmean = paired['November'].mean()
(amean, ndmean)

(11.423076923076925, 16.323076923076922)

In [14]:
# Qual o mes com maior mediana? Novembro

amedian = paired['August'].median()
ndmedian = paired['November'].median()
(amedian, ndmedian)

(10.0, 15.3)

A diferença é estatisticamente significativa? Sim